@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  body {
    height: 100%;
    overflow: auto;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  /* @keyframes fromBottomKeyframe {
    0% {
      transform: translateY(500px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .fromBottom {
    animation: fromBottomKeyframe 1.2s ease-in-out;
  } */
}
