@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  body {
    height: 100%;
    overflow: auto;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  @font-face {
    font-family: "OffBit";
    src: url("../app/fonts/offBit/OffBitTrial-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
}
